body{
    font-family: 'Quantico', sans-serif;
    background:#111;
    color:white;
    text-align:center;
}

.box{
    width:400px;
    margin:auto;
}

input{
    width:100%;
    padding:10px;
    margin:5px;
}

button{
    padding:10px 20px;
    margin-top:10px;
}
