::selection {
  background: red;
  color: black;
}

body {
  margin: 0px;
  font-family: 'Goldman', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: red;
  background-color: darkgrey;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoG {
  width: 350px;
  margin-bottom: -50px;
  filter: drop-shadow(0 0 10px red);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 3px solid red;
  scale: 1.2
}

.logoG {
  scale: 1;
  filter: drop-shadow(0 0 8px black);
}

#title {
  color: red;
  font-family: 'Goldman', sans-serif;
  filter: drop-shadow(0 0 10px red);
  font-weight: 900;
  font-size: 30px;
  margin: -5px;
}

#des1 {
  color: red;
  font-family: 'Goldman', sans-serif;
  filter: drop-shadow(0 0 10px red);
  font-weight: 700;
  font-size: 20px;
}

#text {
  color: red;
  font-family: 'Goldman', sans-serif;
  filter: drop-shadow(0 0 10px red);
  font-weight: 500;
  font-size: 15px;
}


#view {
  margin: 20px;
  padding: 16px 28px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid red;
  cursor: pointer;
  font-family: 'Goldman', sans-serif;
  filter: drop-shadow(0 0 10px red);
  background: black;
  color: red;
  transition: 0.4s;
}

#view:hover {
  background: red;
  color: black;
  filter: drop-shadow(0 0 10px red);
  border: 2px solid black;
  scale: 1.2;
}
