::selection {
  background: red;
  color: black;
}

body {
  margin: 0px;
  font-family: 'Goldman', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: red;
  background-color: black;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 350px;
  margin: 30px;
  scale: 1.2;
  transition: 0.5s;
}

.logo:hover {
  scale: 1;
  filter: drop-shadow(0 0 10px red);
}

#title {
  color: red;
  font-family: 'Goldman', sans-serif;
  filter: drop-shadow(0 0 8px red);
  font-weight: 900;
  font-size: 30px;
  margin: -2px;
}

#des1 {
  color: red;
  font-family: 'Goldman', sans-serif;
  filter: drop-shadow(0 0 5px red);
  font-weight: 700;
  font-size: 20px;
}

#text {
  color: red;
  font-family: 'Goldman', sans-serif;
  filter: drop-shadow(0 0 10px red);
  font-weight: 500;
  font-size: 15px;
}


#view {
  margin: 20px;
  padding: 16px 28px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid red;
  cursor: pointer;
  font-family: 'Goldman', sans-serif;
  filter: drop-shadow(0 0 10px red);
  background: black;
  color: red;
  transition: 0.4s;
}

#view:hover {
  background: red;
  color: black;
  filter: drop-shadow(0 0 10px red);
  border: 2px solid black;
  scale: 1.2;
}
